<p>
  <b>Name:</b>
  <%=h @game.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @game.description %>
</p>

<p>
  <b>Created by:</b>
  <%=h @game.created_by %>
</p>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
